<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ShoppingDB" connectionString="Data Source=DESKTOP-OQP9UFV; initial catalog=Shopping; Integrated security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication>
      <forms loginUrl="Asp_Shoping_LoginPage.aspx" defaultUrl="Asp_Shopping_AddProduct.aspx" cookieless="AutoDetect">
        <credentials passwordFormat="Clear">
          <user name="seller1" password="seller@123"/>
          <user name="seller2" password="seller@123"/>
          <user name="seller3" password="seller@123"/>
        </credentials>
      </forms>
    </authentication>

    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

</configuration>
